[ req ]
prompt = no
default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
C=CH
ST=ZH
L=Zurich
O=Example Company
OU=Department
CN=localhost

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1 = server
DNS.2 = localhost
IP.1 = 127.0.0.1
